<section class=" m-5  ">
   <div class="">
   <table class="table-auto border-collapse border bg-gray-900 w-full text-left rounded-sm ">
    <thead>
      <tr class="border border-gray-600">
        <th class=" px-4 py-3  bg-gray-900 font-semibold " >Manage Customer</th>
      </tr>
    </thead>
    <tbody>
      <tr class="flex p-5 gap-2 border border-gray-600">
        <td class="flex px-2 border bottom py-3 justify-center items-center rounded-md shadow-lg ">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-list"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l11 0" /><path d="M9 12l11 0" /><path d="M9 18l11 0" /><path d="M5 6l0 .01" /><path d="M5 12l0 .01" /><path d="M5 18l0 .01" /></svg>
          <span>Main</span></td>

        <td><a href="#" class="bg-green-600 px-2 py-3 rounded-md shadow-lg flex"> 
          <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
        </span>
          <span>Create New Customer</span></a>
        </td>
      </tr>
    </tbody>
  </table>


<div class="border-slate-500 border-collapse border bg-gray-900 w-full text-left rounded-sm mt-10">
   <div class="p-3">Customer</div>
   <hr>
   <div class="p-3">
        <span class="text-sm">Show</span>
        <input type="text" name="" id="" class="bg-transparent w-[-1px]">
   </div>
   <table class="table-auto border-collapse border bg-gray-900 w-full text-left rounded-sm">
        <thead>
          <tr class="border-b h-16">
            <th class="px-4 py-3">#</th>
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">Customer Name</th>
            <th class="px-4 py-3">Contact</th>
            <th class="px-4 py-3">Location</th>
            <th class="px-4 py-3">Action</th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr class=""> 
            <td>1</td>
            <td>1111</td>
            <td>John petro</td>
            <td>o67713516</td>
            <td>mabibo</td>
            <td class="px-4 py-2">
              <button class="text-blue-400 hover:text-blue-300">Edit</button> |
              <button class="text-red-400 hover:text-red-300">Delete</button>
            </td>
            <!-- <td></td> -->
          </tr>
        </tbody>
   </table>
</div>
    
</section>