<div class="sm:hidden md:hidden lg:block h-screen bg-gradient-to-tl   from-indigo-500 to-slate-700 to- m-1   rounded-lg w-[15%] shadow-md text-white flex flex-col gap-4 items-center  ">
    <!-- side -->
     <div class="     p-5 items-center  shadow-lg outline-neutral-600">
        <img src="./img/profile.webp"  class="rounded-full opacity-30 h-[60px]">
     </div>

     <ul class="w-full flex flex-col gap-1 ">
        <li class="w-full p-4 bg-red-400 "><a href="/home"><span><i class="fa-duotone fa-solid fa-user fa-1xl "></i></span>Home</a></li>
        <li class="w-full p-4 bg-red-400 "><a href="/manage_driver"><span><i class="fa-duotone fa-solid fa-user fa-1xl "></i></span>Manage Driver</a></li>
        <li class="w-full p-4  bg-red-400"><a href="/manage_customer"><span><i class="fa fa-history" aria-hidden="true" class="fa-duotone fa-solid fa-user fa-1xl "></i><span></span>Manager Customer</a></li>
        <li class="w-full p-4  bg-red-400"><a href="#"><span><i class="fa fa-commenting" aria-hidden="true" class="fa-duotone fa-solid fa-user fa-1xl"></i><span>Profile</a></li>
     </ul>
sss
</div>